# dependencies
node_modules/

# next.js
.next/
out/

# env files (WICHTIG)
.env
.env.local
.env.development
.env.production
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# tests
test-results/
playwright-report/
test/
tests/

# system
.DS_Store
Thumbs.db

# git
.git